docs/_build
docs/_autosummary
__pycache__
*.*~
*.pyc
.venv*
__pypackages__*
.pdm-build*
python/scratch
.idea/*
.vscode/
*checkpoint.ipynb
build/
venv/
dist/
.DS_Store
scratch/
.coverage
*.egg-info/
scripts*
.pdm-python
*.prof
coverage.xml
pytest_results.xml
